<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="navFragment">
    <div class="jumbotron text-center" id="nav-top">
        <h1>NewsFeed Page</h1>
        <p>Resize this responsive page to see the effect!</p>
    </div>
    <div class="nav-body">
        <!--Top -->

        <div class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" id="nav-content">

            <!-- Brand -->
            <a class="navbar-brand" th:href="@{/}">Navbar home </a>
            <!--
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
             aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span></button>
            -->
            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/auth/signin-form}"> Home <span class="sr-only">(current)</span></a> <!--sr-only :: 스크린리더 width, height 1px(감지)-->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" sec:authorize="isAnonymous()" th:href="@{/auth/signin-form}">로그인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" sec:authorize="isAnonymous()" th:href="@{/auth/signup-form}">회원가입</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" sec:authorize="isAuthenticated()" th:href="@{/users/info-form}">내정보</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" sec:authorize="isAuthenticated()" th:href="@{/users/logout}">로그아웃</a>
                    </li>
                    <li class="nav-item">
                        <!--        <a class="nav-link disabled" sec:authorize="hasAuthority('ADMIN') or hasAuthority('USER')" href="/users/info">내정보</a><br>-->
                    </li>
                    <li class="nav-item">
                        <!--        <a class="nav-link disabled" sec:authorize="hasAuthority('ADMIN')" href="/users/admin">admin</a><br>-->
                    </li>

                    <!-- Dropdown -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown"
                           aria-expanded="false">postsList</a>
                    <li class="nav-item dropdown">
                        <div class="dropdown-menu">
                            <a class="dropdown-item" th:href="@{/auth/boards-form}">Link postsList</a>
                            <a class="dropdown-item" th:href="@{/users/boards-detail-form}">Link postDetail </a>
                            <a class="dropdown-item" th:href="@{/users/boards-edit-form}">Link postEdit</a>
                        </div>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>
</th:block>
</html>
