<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:fragment="navFragment">
    <!-- nav -->
    <div class="nav-body">
        <!-- Brand -->
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" th:href="@{/}">Navbar home </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarsExampleDefault" >
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" >
                        <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/api/v1/auth/login-page}">로그인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/api/v1/auth/signup}">회원가입</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/api/v1/users/info}">내정보</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" sec:authorize="isAuthenticated()" th:action="@{/api/v1/users/logout}" onclick="logout()">로그아웃</a>
                    </li>
                    <li class="nav-item">
                        <!--        <a class="nav-link disabled" sec:authorize="hasAuthority('ADMIN') or hasAuthority('USER')" href="/users/info">내정보</a><br>-->
                    </li>
                    <li class="nav-item">
                        <!--        <a class="nav-link disabled" sec:authorize="hasAuthority('ADMIN')" href="/users/admin">admin</a><br>-->
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0" th:href="@{/api/v1/users/logout}" method="post" sec:authorize="isAuthenticated()">
                    <span class="text-white mr-2 mx-2" sec:authentication="name">사용자</span>
                    <span class="text-white mr-2 mx-2" sec:authentication="principal.authorities">권한</span>
                </form>
                <!-- Dropdown -->
                <div class="dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                        post
                    </button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" th:href="@{/api/v1/auth/posts}">Link List</a>
                        <a class="dropdown-item" th:href="@{/api/v1/users/post-edit}">Link postEdit</a>
                        <a class="dropdown-item-text" th:href="@{/api/v1/users/info}">Link info Edit </a>
                        <a class="dropdown-item-text" th:href="@{/api/v1/users/profile}">Link profile</a>
                    </div>
                </div>
            </div>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" id="search-input" placeholder="Search" aria-label="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
            </form>
        </nav>
    </div>
</th:block>
</html>