<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>뉴스피스</title>
    <meta charset="UTF-8">
    <!--Required meta tags -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--css/js start-->
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css}"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- 쿠키 -->
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
</head>
<body>

<a class="nav-link" th:href="@{/api/v1}"> 메인 </a>

<!-- postEdit Content -->

<div class="container">
    <div class="content-body">
        <!--    취소버튼이 안된다 찾아보기  사진첨부, 등등  썸머노트 안되네;;;
      폰트 넣는 방법 찾아보기
      설명이 있어서 좋긴한데 첫줄이 가린다 공백 띄우는법 찾아보기
-->
        <h1></h1>

        <!-- 수정/삭제 -->
        <a th:href="@{/api/v1/auth/posts}" class="btn btn-secondary">게시판</a>
        <a th:href="@{/api/v1/users/post-edit}" class="btn btn-secondary">수정하기</a>
        <a class="btn btn-secondary">삭제하기</a>


        <div th:each="post:${posts}">
            <h2> 상세 페이지 </h2>

            <div class="postTitle">
                <label>Title</label>
                <p th:text="${post.title}"></p>
                <!--                <input type="hidden" th:field="${post.title}">-->
            </div>
            <div class="postName">
                <label>작성자</label>
                <p th:text="${post.writerName}"></p>
                <!--                <input type="hidden" th:field="${post.writerName}">-->
            </div>
            <div class="postContent">
                <label>Content</label>
                <!--                <p th:text="${post.content}"></p>-->
                <label for="content" > </label>
                <textarea  id="content" th:text="${post.content}"></textarea>
            </div>

        </div>

        <!-- 댓글 -->
        <div class="reply_view">
            <form>
                <!--                <input type="hidden">-->
                <div style="margin-top:10px; ">
                    <label for="re_content"></label>
                    <input name="content" class="reply_content" id="re_content"></input>
                    <button id="replyBtn" class="re_bt">댓글</button>
                </div>
            </form>
        </div><!--- 댓글 불러오기 끝 -->

    </div>
</div>

<script th:src="@{/js/post.js}"></script>

</body>
</html>