/*Bootstrap CSS*/

* {

    font-family: "Noto Sans CJK KR";
    font-style: normal;
}

body {
    /*box-sizing: border-box;*/
    background: #ffffff;
}

.nav-body{
    background: rgb(0, 122, 253);
    color: #d5e5f8;
}

#nav-top{
    margin: 0 ;
    padding: 30px 10px;
    background: rgba(0,40,245,0.76);
}

#nav-content{
    padding: 10px;
    /*padding-bottom: 5px;*/
    /*-ms-flex-align: start;*/
}

.content-body {
    margin:0px auto;
    max-width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#postForm{
    max-width: 70vw;
}

#footer-contain{
    color: #ffffff;
    font-size: 20rem;
    text-align: center;
}

#error{
    margin-top: 10%;
    padding :10px;
    background: #000000;
    color: #ffffff;
    max-font-size: 20em;
    min-width:45%;
    min-height:30vh;
}

textarea {

}

input[type=submit] {
    margin-top: 10px;
}


