<!DOCTYPE html>
<html lagn="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <!--head-->
    <head>
        <!--Required meta tags -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>뉴스피스</title>

        <!-- css/fonts -->
        <link rel="stylesheet"  th:href="@{/css/common.css}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <!--favicon.ico-->
        <link rel="icon" href="data:;base64,=">
        <!-- Bootstrap start-->
        <!-- <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
        <!--ajax -jquery slim 오류 -->
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>-->
        <!--드롭바가 5버전만 됨;; 탬플릿안에 드롭바는 다른 걸까?-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Bootstrap end -->
        <!-- include summernote css/js -->
        <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>

        <!--common JS start-->
        <script type="text/javascript" th:src="@{/js/basic.js}"></script>
        <!--common JS end-->

        <!--css/js PageByPage start-->
        <th:block layout:fragment="">
        </th:block>
        <!--css/js PageByPage end-->
    </head>

    <!--body-->
    <body>
        <!-- top start-->
        <div th:replace="~{common/fragments/nav :: navFragment}"></div>
        <!-- top end -->

        <!--content start-->
        <th:block layout:fragment="content"><div id="fragment-content"></div></th:block>
        <!--content end-->

        <!--css/js PageByPage start-->
        <th:block layout:fragment="">
        </th:block>
        <!--css/js PageByPage end-->

        <!-- footer start -->
        <th block th:if="${'footer' == 'no'}">
            <div th:replace="~{common/fragments/footer :: footerFragment}"></div>
        </th>
        <!-- footer end -->
    </body>
</html>