<html layout:decorate="~{common/layouts/layout}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >

<head>
    <meta charset="UTF-8">
    <!--jwt 현재 페이지에서 사용할 수 있는 변수 :: principal-->
  <!--  <sec:authorize access="isAuthenticated()">
        <sec:authentication property="principal" var="principal"/>
    </sec:authorize>-->
    <style>
        .fakeimg {
            height: 200px;
            background: rgba(101, 150, 169, 0.5);
        }

        #container {
            padding: 10px 10px 10px 10px;
        }
    </style>
</head>

<!-- Content-->
<th:block layout:fragment="content">
    <div class="content-body">

        <!--    <div style="margin: 0 auto; padding-top: 5px; ">-->
        <!--        <a sec:authorize="isAnonymous()" href="/auth/signIn-page">로그인</a>-->
        <!--        <a sec:authorize="isAuthenticated()" href="/users/info-page">내정보</a>-->
        <!--        <a sec:authorize="isAuthenticated()" href="/logout">로그아웃</a>-->
        <!--        <a sec:authorize="isAnonymous()" href="/auth/signUp-page">회원가입</a>-->
        <!--        <a sec:authorize="hasAuthority('ADMIN') or hasAuthority('USER')" href="/users/info">내정보</a><br>-->
        <!--        <a sec:authorize="hasAuthority('ADMIN')" href="/users/admin">admin</a><br>-->
        <!--    </div>-->

        <div class="container" style="margin-top:30px">
<!--        <div id="container" class="container mt-5">-->
            <div class="row">
                <ul class="col-2">
                    <a th:href="@{/auth/signIn-page}">로그인</a>
                    <a th:href="@{/auth/signUp-page}">회원가입</a>
                </ul>
                <ul class="col-2">
                    <a th:href="@{/user/dologout}">로그아웃</a>
                    <a th:href="@{/user/info-page}">마이페이지</a>
                    <a th:href="@{/user/postEdit-page}">글쓰기</a>
                </ul>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <h2>About Me</h2>
                    <h5>Photo of me:</h5>
                    <div class="fakeimg">Fake Image</div>
                    <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
<!--                    <h3>Some Links</h3>-->
<!--                    <p>Lorem ipsum dolor sit ame.</p>-->
<!--                    <ul class="nav nav-pills flex-column">-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link active" href="#">Active</a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" href="#">Link</a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" href="#">Link</a>-->
<!--                        </li>-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link disabled" href="#">Disabled</a>-->
<!--                        </li>-->
<!--                    </ul>-->
                    <hr class="d-sm-none">
                </div>
                <!--    </nav>-->
                <!--    &lt;!&ndash;콘텐츠영역&ndash;&gt;-->
                <!--    <div th:id="login-true">-->
                <!--        &lt;!&ndash;토글 버튼&ndash;&gt;-->
                <!--        <button type="button" class="btn btn-info" id="sidebarToggle">-->
                <!--            사이드 메뉴 숨기기-->
                <!--        </button>-->
                <!--    </div>-->
                <!--    <div th:id="login-false">-->
                <!--        &lt;!&ndash;토글 버튼&ndash;&gt;-->
                <!--        <button type="button" class="btn btn-info" id="sidebarToggle">-->
                <!--            사이드 메뉴 숨기기-->
                <!--        </button>-->
                <!--    </div>-->

                <!--            테이블 수정?? 카드?? -->
                <div class="col-sm-8">
                    <h2>TITLE HEADING</h2>
                    <h5>Title description, Dec 7, 2020</h5>
                    <div class="fakeimg">Fake Image</div>
                    <p>Some text</p>
                    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco.</p>
                    <br>
                    <h2>TITLE HEADING</h2>
<!--                    <h2 class="mt-5">TITLE HEADING</h2>-->
                    <h5>Title description, Sep 2, 2020</h5>
                    <div class="fakeimg">Fake Image</div>
                    <p>Some text</p>
                    <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco.</p>
                </div>
            </div>
        </div>
    </div>
</th:block>

<html>


<!--
<span th:text="${attributeName}"></span>
<li>th:utext 사용<span th:utext="${data}"></span></li>
<span>hello [[${attributeName}]]</span>
<h1><span th:inline="none">[[...]] vs [(...)]</span> </h1>
<li><a th:href="@{/hello(param1=${param1}, param2=${param2})}">hello query param</a></li>

<tr th:if="${books.empty}">
    <td colspan="2"> No Books Available </td>a
</tr>
<tr th:each="book : ${books}">
    <td><span th:text="${book.title}"> Title </span></td>
    <td><span th:text="${book.author}"> Author </span></td>
</tr>
</tbody>


-->
