<!DOCTYPE html>
<html layout:decorate="~{common/layouts/layout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      lang="ko"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>뉴스피스</title>
    <meta charset="UTF-8">
</head>

<!-- Content -->
<th:block layout:fragment="content" >
    <div id="error">
        <h1>error</h1>
        <div class="input-form col-md-12 mx-auto">
            <label> 잘못된 접근입니다.</label>
            <label> 관리자에게 문의하세요</label><br>
            <a id="sign-text" href="/static">
                홈화면 이동하기
            </a>
        </div>
    </div>
<script>
        // var xhr = new XMLHttpRequest();
        // xhr.withCredentials = true; // Enable sending cookies
        //
        function logout() {
            // 토큰 삭제
            Cookies.remove('Authorization', {path: '/'});
            //window.location.href = host + '/api/user/login-page';
        }

    </script>
</th:block>
</html>


<!--/*
<main role="main" > 이거땜에 안된거 같은데 신기해서 시험해봄 </main>
 <span th:text="${attributeName}"></span>
<li>th:utext 사용<span th:utext="${data}"></span></li>
<span>hello [[${attributeName}]]</span>
<h1><span th:inline="none">[[...]] vs [(...)]</span> </h1>
<li><a th:href="@{/hello(param1=${param1}, param2=${param2})}">hello query param</a></li>

<tr th:if="${books.empty}">
    <td colspan="2"> No Books Available </td>a
</tr>
<tr th:each="book : ${books}">
    <td><span th:text="${book.title}"> Title </span></td>
    <td><span th:text="${book.author}"> Author </span></td>
</tr>
</tbody>


https://velog.io/@dhk22/Thymeleaf-Fragment-%EA%B3%B5%ED%86%B5%EC%98%81%EC%97%AD%EC%B2%98%EB%A6%AC
<footer th:fragment="footerFragmentParam (param1, param2)">
  <p> COPYRIGHT@ dhk22</p><br/>
  <p th:text="|Hi, ${param1}|"></p>
  <p th:text="|Im ${param2}|"></p>
</footer>
Thymeleaf의 상수 표현식인 |lll|와 변수 표현식인 ${...}를 사용


 */-->


<!--var token = $("meta[name='_csrf']").attr("content");-->
<!--var header = $("meta[name='_csrf_header']").attr("content");-->
<!--출처: https://chung-develop.tistory.com/8 [춍춍 블로그:티스토리]-->

