<html layout:decorate="~{common/layouts/layout}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <!--css/js PageByPage start-->
    <th:block layout:fragment="cssByPage">
        <link rel="stylesheet" type="text/css" th:href="@{/css/article.css}">
    </th:block>
    <!--css/js PageByPage end-->
</head>

<!-- Content -->
<th:block layout:fragment="content">
    <div class="content-body">
        <div class="container">
            <h1> 글 목록 </h1>
            <div class="row">
                <div class="col-xs-12">
                    <table class="freeBoard">
                        <caption>자유게시판</caption>
                        <thead>
                        <tr>
                            <th class="number">No</th>
                            <th class="title">제목</th>
                            <th class="name">글쓴이</th>
                            <th class="time">작성시간</th>
                            <th class="view">좋아요</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="post:${list}">
                            <td class="number" th:text="${post.id}"></td>
                            <td class="title" th:text="${post.title}"></td>
<!--                            <td class="name" th:text="${post.nickname}"></td>-->
                            <td class="time" th:text="${post.createdDate}"></td>
                            <td class="view" th:text="${post.count}"></td>
                        </tr>
                    </table>
                </div>
                <!-- 글쓰기/ 조회 -->
            </div>
        </div>
    </div>
</th:block>
</html>
