<!DOCTYPE html>
<html layout:decorate="~{common/layouts/layout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      lang="ko">
<head>
    <title>뉴스피스</title>
    <meta charset="UTF-8">

    <!--css/js start-->
        <link rel="stylesheet" type="text/css" th:href="@{/css/post.css}">

    <!--css/js PageByPage end-->
</head>

<!-- freeBoard  Content -->
<th:block layout:fragment="content">
    <div class="content-body">
        <div class="container">
            <h1> 글 목록 </h1>
            <div class="row">
                <div class="col-xs-12">
                    <table class="freeBoard">
                        <caption>자유게시판</caption>
                        <thead>
                        <tr>
                            <th class="number">No</th>
                            <th class="title">제목</th>
                            <th class="name">내용</th>
                            <th class="time">작성시간</th>
                            <th class="count">조회수</th>
                            <th class="hit">좋아요</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="post:${posts}">
                            <td class="number" th:text="${post.id}"></td>
                            <td class="title" th:text="${post.title}"></td>
                            <!--                            <td class="title" th:text="${board.content}"></td>-->
                            <!--                            <td class="name" th:text="${board.nickname}"></td>-->
                            <td class="time" th:text="${post.createdDate}"></td>
                            <td class="count" th:text="${post.count}"></td>
                            <!--                            <td class="hit" th:text="${board.hit}"></td>-->
                        </tr>

<!--                        <tr th:each="board:${boards}">-->
<!--                            <td class="number" th:text="${board.id}"></td>-->
<!--                            <td class="title" th:text="${board.title}"></td>-->
<!--&lt;!&ndash;                            <td class="title" th:text="${board.content}"></td>&ndash;&gt;-->
<!--&lt;!&ndash;                            <td class="name" th:text="${board.nickname}"></td>&ndash;&gt;-->
<!--                            <td class="time" th:text="${board.createdDate}"></td>-->
<!--                            <td class="count" th:text="${board.count}"></td>-->
<!--&lt;!&ndash;                            <td class="hit" th:text="${board.hit}"></td>&ndash;&gt;-->
<!--                        </tr>-->
                    </table>
                </div>

                <button class="btn btn-outline-info btn-primary btn-block" type="submit" id="btn-save">글쓰기</button>

                <!-- 글쓰기/ 조회 -->

            </div>
        </div>
    </div>
</th:block>
</html>
