<html layout:decorate="~{common/layouts/layout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko">

<head>
    <title>뉴스피스</title>
    <meta charset="UTF-8">

    <!--css/js  start-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/board.css}">


</head>

<!-- Content -->
<th:block layout:fragment="content">
    <div class="content-body ">
        <div class="container">
            <h1> postDetail </h1>
            <div id="postForm">
                <form>
                    <!--        <form action="users/article" method="post">-->
                    <!--      자동생성?      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->
                    <!--                  ${post.title}      <input type="hidden" name="postNum" value="${post.postNum}">-->
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" id="title" name="title" value="" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="comment">Comment</label>
                        <textarea class="form-control summernote" rows="5" id="comment"
                                  name="content">${post.content}</textarea>
                    </div>

                    <div class="btn-group btn-group-sm" role="group" aria-label="...">
                        <input type="submit" class="btn btn-default" value="글쓰기">
                        <input type="submit" class="btn btn-default" value="수정하기">
                        <input type="button" class="btn btn-default" value="취소"
                               onclick="document.location.href='/bbs/content.bbs?articleNumber=${articleNumber}&pageNum=${pageNum}'">
                        <!--                <input type="button" class="btn btn-default" value="취소" onclick="document.location.href='/bbs/content.bbs?articleNumber=${articleNumber}&pageNum=${pageNum}'">-->
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div style="margin: 0 auto; padding-top: 5px; ">
        <a sec:authorize="isAnonymous()" href="/auth/signin-form">로그인</a>
        <a sec:authorize="isAuthenticated()" href="/users/info-form">내정보</a>
        <a sec:authorize="isAuthenticated()" href="/users/logout">로그아웃</a>
        <a sec:authorize="isAnonymous()" href="/auth/signup-form">회원가입</a>
        <!--        <a sec:authorize="hasAuthority('ADMIN') or hasAuthority('USER')" href="/users/info">내정보</a><br>-->
        <!--        <a sec:authorize="hasAuthority('ADMIN')" href="/users/admin">admin</a><br>-->
    </div>


    <h1> 글 상세에서 작성자만 글 수정/삭제가능 보이기 </h1>
    <h1> 로그인한 살암만 글 상세 확인 가능 </h1>
</th:block>
</html>