<html layout:decorate="~{common/layouts/layout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko">

<head>
    <title>뉴스피스</title>
    <meta charset="UTF-8">

    <!--css/js start-->
        <link rel="stylesheet" type="text/css" th:href="@{/css/postForm.css}">

    <!--css/js PageByPage end-->
</head>

<!-- Content -->
<th:block layout:fragment="content">
    <div class="content-body">
        <div class="container">
            <h1> 글 목록 </h1>
            <div class="row">
                <div class="col-xs-12">
                    <table class="freeBoard">
                        <caption>자유게시판</caption>
                        <thead>
                        <tr>
                            <th class="number">No</th>
                            <th class="title">제목</th>
                            <th class="name">글쓴이</th>
                            <th class="time">작성시간</th>
                            <th class="view">좋아요</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="post:${list}">
                            <td class="number" th:text="${post.id}"></td>
                            <td class="title" th:text="${post.title}"></td>
                            <td class="name" th:text="${post.nickname}"></td>
                            <td class="time" th:text="${post.createdDate}"></td>
                            <td class="view" th:text="${post.count}"></td>
                        </tr>
                    </table>
                </div>
                <!-- 글쓰기/ 조회 -->
                <div style="margin: 0 auto; padding-top: 5px; ">
                    <a sec:authorize="isAnonymous()" href="/auth/signin-form">로그인</a>
                    <a sec:authorize="isAuthenticated()" href="/users/info-form">내정보</a>
                    <a sec:authorize="isAuthenticated()" href="/users/logout">로그아웃</a>
                    <a sec:authorize="isAnonymous()" href="/auth/signup-form">회원가입</a>
                    <!--        <a sec:authorize="hasAuthority('ADMIN') or hasAuthority('USER')" href="/users/info">내정보</a><br>-->
                    <!--        <a sec:authorize="hasAuthority('ADMIN')" href="/users/admin">admin</a><br>-->
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>
