<!DOCTYPE html>
<html layout:decorate="~{common/layouts/layout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      lang="ko">

<head>
    <title>뉴스피스</title>
    <meta charset="UTF-8">

    <!--css/js start-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/sign.css}">

    <!--css/js end-->

<!--        <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>-->
<!--        <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>-->
</head>
<!-- 로그인 Content -->
<th:block layout:fragment="content">
    <div class="content-body">
        <div id="login-form">

            <div id="login-title">Login MyBoard</div>

            <button id="login-kakao-btn" onclick="location.href='https://kauth.kakao.com/oauth/authorize?client_id=&redirect_uri=http://localhost:8080/user/kakao/callback&response_type=code'">

                카카오로 로그인하기

            </button>

            <button id="login-id-btn" onclick="location.href='/user/signup'">

                회원 가입하기

            </button>

            <form action="/user/login" method="post">

                <div class="login-id-label">아이디</div>

                <input type="text" name="username" class="login-input-box">



                <div class="login-id-label">비밀번호</div>

                <input type="password" name="password" class="login-input-box">


                <div class="login-id-label">비밀번호 확인</div>

                <input type="password" name="checkPw" class="login-input-box">



                <button id="login-id-submit">로그인</button>

            </form>

            <div id="login-failed" style="display:none" class="alert alert-danger" role="alert">로그인에 실패하였습니다.</div>

        </div>

    </div>

</th:block>
</html>
