<!DOCTYPE html>
<html layout:decorate="~{common/layouts/layout}"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ko">

<head>
    <title>뉴스피스</title>
    <meta charset="UTF-8">

    <!--css/js  start-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/board.css}">

</head>

<!-- Content -->
<th:block layout:fragment="content">
    <div class="content-body">
        <div class="container">
            <!--    취소버튼이 안된다 찾아보기  사진첨부, 등등  썸머노트 안되네;;;
          폰트 넣는 방법 찾아보기
          설명이 있어서 좋긴한데 첫줄이 가린다 공백 띄우는법 찾아보기
   -->
            <h1> postEdit </h1>
            <form id="postForm">
                <div class="form-group">
<!--                    <h3 th:text="${board.title}"></h3>-->
                    <h3>${board.title}</h3>
                </div>
                <div class="form-group">
<!--                    <h3 th:text="${board.content}"> </h3>-->
                    <h3>${board.content}</h3>
                </div>
            </form>
            <button type="button" id="btn-post-update" class="btn btn-default" value="수정"></button>
            <button type="button" id="btn-post-delete" class="btn btn-default" value="삭제"></button>
        </div>
    </div>


</th:block>
</html>